$tweeter-primary-colour: #4056A1;
$default-font-colour: #FFFFFF;
$main-text-colour: #545149;
$content-font-family: "Source Sans 3", sans-serif;
$tweeter-font-family: "Bungee", cursive;

.new-tweet {
  display: flex;
  padding: 40px;
  max-width: 800px; /* max width so it doesn’t stretch too wide */
  margin: 20px auto; /* center horizontally with vertical margin */
  font-family: $content-font-family;
  align-items: center;
}
.new-tweet form {
  display: flex;     
  width: 100%;
  flex-direction: column;   /* stack children vertically */
  gap: 15px;                /* space between form elements */
}

.new-tweet textarea {
  border: none;
  border-bottom: 4px solid var(--main-text-color);
  background-color: transparent;
  resize: none;
  width: 100%;
  font-size: 16px;
  font-family: $content-font-family;
  color: $main-text-colour;
  outline: none;
  padding: 4px 0;
}

.new-tweet textarea:focus {
  outline: none;
  border-bottom: 4px solid $main-text-colour; /* this adds the border line */
}

.new-tweet button {
  background-color: $tweeter-primary-colour;     /*Blue background*/
  color: $default-font-colour;
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: $tweeter-font-family;
}

.new-tweet button:hover {
  background-color: $tweeter-primary-colour;
  cursor: pointer;
}

.output {
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
  color: $main-text-colour;
  min-width: 40px;
  text-align: center;
  display: inline-block;
  margin-left: 10px; /* space from the button */
  padding-left: auto;
  font-family: $content-font-family;
}

.label {
  display: block;       /* full width */
  margin-bottom: 8px;   /* space below label */
  font-weight: bold;
  font-size: 16px;
  color: $main-text-colour;
  margin-bottom: 4px;
  font-family: $tweeter-font-family;
}

.counter .counter-warning {
  color: red !important;
  font-weight: bold;
}

.counter {
  margin-left: auto;
  color: $main-text-colour;
  font-size: 1rem;
  font-weight: bold;
  transition: color 0.3s;
}

form div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
  padding-top: 8px;
  font-family: $tweeter-font-family;
}

.error {
  color: red;
  font-weight: bold;
  padding: 10px;
  background-color: #ffe6e6;
  border: 1px solid red;
  border-radius: 5px;
  margin-bottom: 10px;
  display: none;
}
.hidden {
  display: none;
}