$tweeter-primary-colour: #4056A1;
$default-font-colour: #FFFFFF;
$main-text-colour: #545149;
$content-font-family: "Source Sans 3", sans-serif;
$tweeter-font-family: "Bungee", cursive;
$box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);;


.tweet-container {
  max-width: 100%;
  margin: 0 auto;
  max-height: min-content;
}

.tweet {
  border: 4px solid $main-text-colour;
  padding: 20px;
  margin: 20px 0;
  background-color: #f4f1ec;
  font-family: $content-font-family;
  transition: box-shadow 0.3s ease;
  transition: color 0.3s ease;
}

/* Header  of tweet container */
.tweet header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tweet .user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.tweet .user-info img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.tweet .name {
  font-weight: bold;
  font-size: 1.1em;
  color: $main-text-colour;
}

.tweet .handle {
  color: #c0c0c0;
  font-weight: bold;
}

/* Tweet text/content */
.tweet p {
  margin: 10px 0;
  font-size: 1em;
  color: $main-text-colour;
}

/* Footer */
.tweet footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9em;
  color: $main-text-colour;
  border-top: 4px solid $main-text-colour;
  padding-top: 10px;
}

.tweet .icons i {
  margin-left: 10px;
  color: $main-text-colour;
  transition: color 0.3s ease;
  cursor: pointer;
}
.tweet .icons i:hover {
  transform: scale(1.2);
  color: $tweeter-primary-colour;
}

/* Hover effect */
.tweet:hover {
  box-shadow: $box-shadow;
}

.tweet:hover .icons i {
  color: $tweeter-primary-colour;
}