header {
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 400px;
  align-items: center;
  justify-content: center;
  background-image: url('/images/my-background.png');
}

header img {
  width: 100px;
  border-radius: 50%;
  margin-bottom: 0.5em;  /* adds space below the image */
}
