header {
  display: flex;
  width: 100%;
  height: 400px;
  padding-top: 300px;
  padding-bottom: 100px;
  flex-direction: column;
  height: 250px;
  align-items: center;
  justify-content: center;
  background-image: url("/images/asfalt-light.png");
}

.profile-section {
  display: flex;
  color: #FFFFFF;
  font-size: 30px;
  width: 100%;
  height: 500px;
  background-color: #fcbf49;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 150px;
  padding-bottom: 100px;
}



/* Header - Desktop version */
@media only screen and (min-width: 1024px) {

  .profile-section {
    width: 400px;
    height: 400px;
  }

  header {
    flex: 1;
    max-width: 30%;
  }

}