header {
  display: flex;
  width: 100%;
  height: 500px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("/images/asfalt-light.png");

}

.profile-section {
  display: flex;
  color: #FFFFFF;
  font-size: 30px;
  width: 100%;
  height: 550px;
  background-color: #fcbf49;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 160px;


}



/* Header - Desktop version */
@media only screen and (min-width: 1024px) {

  .profile-section {
    width: 400px;
    height: 400px;
    padding-top: 50px;
  }

  header {
    flex: 1;
    max-width: 30%;
    
  }

}