nav {
  display: flex;
  position: fixed;
  height: 120px;
  width: 100vw;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  background-color: #4056A1;     /*Blue background*/
  color: #FFFFFF;           /* White font color */
  padding: 0 1.5em;    
  /* Space on left and right - the size of an em is relative to its parent's font size*/
}

.new-tweet-arrow {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.new-tweet-arrow i {
  margin-top: 0.2em;
}