:root {
  --main-text-color: #545149;
  --hover-icon-color: #4056A1;
  --box-shadow-hover: 4px 4px 10px rgba(0, 0, 0, 0.2);
  --tweet-bg: #f4f1ec;
}

.new-tweet {
  display: flex;
  padding: 40px;
  max-width: 800px; /* max width so it doesn’t stretch too wide */
  margin: 20px auto; /* center horizontally with vertical margin */
  font-family: "Source Sans 3", sans-serif;
  align-items: center;
}
.new-tweet form {
  display: flex;     
  width: 100%;
  flex-direction: column;   /* stack children vertically */
  gap: 15px;                /* space between form elements */
}

.new-tweet textarea {
  border: none;
  border-bottom: 4px solid var(--main-text-color);
  background-color: transparent;
  resize: none;
  width: 100%;
  font-size: 16px;
  font-family: "Source Sans 3", sans-serif;
  color: var(--main-text-color);
  outline: none;
  padding: 4px 0;
}

.new-tweet textarea:focus {
  outline: none;
  border-bottom: 4px solid var(--main-text-color); /* this adds the border line */
}

.new-tweet button {
  background-color: var(--hover-icon-color);     /*Blue background*/
  color: #FFFFFF;  
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Bungee", cursive;
}

.new-tweet button:hover {
  background-color: var(--hover-icon-color);
  cursor: pointer;
}

.output {
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
  color: var(--main-text-color);
  min-width: 40px;
  text-align: center;
  display: inline-block;
  margin-left: 10px; /* space from the button */
  padding-left: auto;
  font-family: "Sans 3", sans-serif;
}

.label {
  display: block;       /* full width */
  margin-bottom: 8px;   /* space below label */
  font-weight: bold;
  font-size: 16px;
  color: var(--main-text-color);
  margin-bottom: 4px;
  font-family: "Bungee", cursive;
}

.counter-warning {
  color: red;
  font-weight: bold;
}

.counter {
  margin-left: auto;
  color: var(--main-text-color);
  font-size: 1rem;
  font-weight: bold;
}

form div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
  padding-top: 8px;
  font-family: "Bungee", cursive;
}

.error {
  color: red;
  font-weight: bold;
  padding: 10px;
  background-color: #ffe6e6;
  border: 1px solid red;
  border-radius: 5px;
  margin-bottom: 10px;
  display: none;
}
.hidden {
  display: none;
}