.tweet-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 20px;

}

.tweet {
  border: 4px solid #545149;
  padding: 20px;
  margin: 20px 0;
  background-color: #f4f1ec;
  font-family: "Source Sans 3", sans-serif;
  transition: box-shadow 0.3s ease;
  width: 100%;
  max-height: none;
  height: auto;
  max-width: 800px;
  align-items: center;
}

/* Header of tweet container */
.tweet header {
  display: flex;
  justify-content: space-between; /* avatar+name on left, handle on right */
  padding-block-start: inherit;
  flex-wrap: wrap;
}

.tweet .user-info {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-shrink: 1;
  max-width: 70%;
}

.tweet .user-info img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: block;
  margin: 0;
  
}

.tweet .name {
  font-weight: bold;
  font-size: 1.1em;
  color: #545149;
  align-self: end;
}

.tweet .handle {
  color: #c0c0c0;
  font-weight: bold;
  font-size: 1em;
  align-self: flex-start; /* this is the key to push it to the top */
  margin-top: 0;          /* remove any accidental spacing */
}

/* Tweet text/content */
.tweet-content p {
  margin: 15px 0;
  font-size: 1.2em;
  color: #545149;
  word-wrap: break-word;
  white-space: normal;
}

/* Footer */
.tweet footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9em;
  color: #545149;
  border-top: 4px solid #545149;
  padding-top: 10px;
}

.tweet .icons i {
  margin-left: 10px;
  color: #545149;
  transition: color 0.3s ease, transform 0.2s ease;
  cursor: pointer;
}

.tweet .icons i:hover {
  transform: scale(1.2);
  color: #4056A1;
}

/* Hover effect */
.tweet:hover {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.tweet:hover .icons i {
  color: #4056A1;
}


/* Tweet - Desktop version */
@media only screen and (min-width: 1024px) {

  .tweet-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    justify-content: center;
    align-items: center;
    
  }
}